.Form{
  outline: none;
  display: block;
  width: 100%;
  padding: 0.3rem;
  margin-bottom: 0;
  border: none;
  font-size: 0.9rem;
}

.Form:disabled{
  background-color: #eee;
  cursor: not-allowed;
}

.FormFooter{
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-top: 0.5px solid #aaa;
  padding: 0.3rem 1rem;
  align-items: center;
}

.FormOptions{
  display: flex;
  align-items: center;
}

.SelectWrapper{
  position: relative;
}

.Category{
  background: none;
  outline: none;
  border: none;
  margin-right: 1rem;
  padding: 0.8rem;
}

.Category:hover, .Category:focus{
  background-color: #eee;
}

.Category option{
  font-size: 1rem;
}

.DownArrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  right: 1rem;
  pointer-events: none;
  color: gray;
}

.ImageBtnWrapper{
  display: flex;
  align-items: center;
}

.ImageButton{
  font-size: 2rem;
  color: #aaa;
}

.ImageButton:hover{
  color: rgb(126, 122, 122);
  cursor: pointer;
}

.ImageName{
  margin: 0 0.5rem;
  color: darkslategray;
}

.RemoveImage{
  border-radius: 50%;
  padding: 0 2px;
}

.RemoveImage:hover{
  color: black;
  background-color: #ccc;
  cursor: pointer;
}

.ErrorMessage{
  color: red;
  font-size: 0.75rem;
  font-weight: bold;
}

@media (max-width: 768px){
  .Form{
    height: 15vh;
  }

  .FormFooter {
    padding-top: 0;
  }

  .FormOptions{
    flex-direction: column;
    align-items: flex-start;
  }

  .ImageButton{
    font-size: 1.2rem;
  }

  .ImageBtnWrapper{
    padding-left: 1rem;
  }
}