.NewBuzz{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  border: 1px solid #aaa;
  box-shadow: 0 0 5px #ccc;
}

.FormHeading{
  display: flex;
  align-items: center;
  background-color: #ccc;
  font-weight: bold;
  padding: 0.6rem 0.2rem;
}

.Form{
  display: block;
  width: 100%;
  height: 15vh;
  resize: none;
  padding: 0.3rem;
  margin-bottom: 0;
  border: none;
  font-size: 0.9rem;
}

.FormFooter{
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-top: 0.5px solid #aaa;
  padding: 0.3rem 1rem;
  align-items: center;
}

.FormOptions{
  display: flex;
  align-items: center;
}

.Category{
  background: none;
  min-height: 1.5rem;
  margin-right: 1rem;
}

.ImageInput{
  outline: none;
}

.ImageButton{
  font-size: 2rem;
  color: #aaa;
}

.ImageButton:hover{
  color: rgb(126, 122, 122);
  cursor: pointer;
}

.SubmitButton {
  color: rgb(255, 115, 0);
  font-size: 2rem;
  transform: rotate(45deg);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.SubmitButton:hover{
  color: orangered;
}
