.RecentBuzz{
  border: 1px solid #ccc;
}

.List{
  height: 60vh;
  overflow-y: scroll;
}

.NoResultText{
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}


@media (max-width: 768px){
  .Buzz{
    flex: 1;
  }
}