.Dashboard{ 
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.DashboardContent{
  flex: 2.5;
  margin: 0 1.5rem;
  margin-right: 0;
}

@media (max-width: 600px){
  .DashboardContent{
    width: 100%;
    margin: 0;
  }
}
