.Modal {
  background-color: white;
  padding: 1rem;
  padding-top: 0;
  min-width: 50vw;
  max-height: 70vh;
  overflow-y: scroll;
  border-radius: 5px;
}

.ModalHeading{
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 0.8rem 0;
}

@media (max-width: 768px){
  .Modal{
    min-width: 80vw;
  }
}