.ComplaintModal{
  margin-top: 1rem;
}

.Label{
  display: block;
  font-weight: bold;
  margin: 0.3rem 0;
}

.Data{
  display: block;
  margin-bottom: 1rem;
  color: gray;
  word-break: break-all;
}

.ImageBlock{
  display: block;
  min-height: 35vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}