.Table{
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td, th{
  border: 1px solid #bbb;
  padding: 0.5rem;
}


tr:nth-child(even){
  background-color: #eee;
}

.Status, .Assigned{
  position: relative;
}


.Arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  /* padding: 10px; */
  font-size: 1rem;
  color: red;
  pointer-events: none;
}


.NoComplaintText{
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

.IssueID{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.Select{
  border: none;
  background: none;
  outline: none;
  padding: 0 1.5rem;
}

.Select option{
  outline: none;
}


.ComplaintModal{
  margin-top: 1rem;
}

.Label{
  display: block;
  font-weight: bold;
  margin: 0.3rem 0;
}

.Data{
  display: block;
  margin-bottom: 1rem;
  color: gray;
  word-break: break-all;
}

.ImageBlock{
  display: block;
  height: 35vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}
