.Table{
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td, th{
  border: 1px solid #bbb;
  padding: 0.5rem;
}


tr:nth-child(even){
  background-color: #eee;
}

.Status, .Assigned{
  position: relative;
}


.Arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  /* padding: 10px; */
  font-size: 1rem;
  color: red;
  pointer-events: none;
}


.NoComplaintText{
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

.Select{
  border: none;
  background: none;
  outline: none;
  padding: 0 1rem;
}

.Select option{
  outline: none;
}

