.ComplaintsTable{
  background-color: white;
  text-align: center;
  box-shadow: 0 0 5px #ccc;
}

.Header{
  display: flex;
  align-items: center;
  background-color: #ddd;
  font-weight: bold;
  padding: 0.6rem 1rem;
}

.Table{
  border-collapse: collapse;
  width: 100%;
}

td, th{
  border: 1px solid #bbb;
  padding: 0.5rem;
}


tr:nth-child(even){
  background-color: #eee;
}

.Status{
  position: relative;
}

.Arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  font-size: 1rem;
  color: red;
}

.NoComplaintText{
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}
