.CommentList{
  height: 40vh;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.FormRow{
  display: flex;
  align-items: center;
}

.CommentArea{
  width: 100%;
  height: 10vh;
  padding: 0.3rem;
  border: 1px solid #aaa;
  outline: none;
  margin-right: 0.5rem;
  border-radius: 5px;
}

.SubmitButton {
  color: rgb(255, 115, 0);
  font-size: 2rem;
  transform: rotate(45deg);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.SubmitButton:hover, .SubmitButton:focus{
  color: orangered;
}

.SubmitButton:disabled{
  color: rgb(92, 81, 77);
  cursor: not-allowed;
}


.ImageButton{
  font-size: 2rem;
  color: #aaa;
}

.ImageButton:hover{
  color: rgb(126, 122, 122);
  cursor: pointer;
}

.ImageName{
  margin: 0 0.5rem;
  color: darkslategray;
}

.RemoveImage{
  border-radius: 50%;
  padding: 0 2px;
}

.RemoveImage:hover{
  color: black;
  background-color: #ccc;
  cursor: pointer;
}

.ErrorMessage{
  color: red;
  font-size: 0.75rem;
  font-weight: bold;
}
