.BannerImage{
  background-image: url('../../assets/banner.jpg');
  height: 45vh;
  width: 100%;
  background-size: cover;
  position: relative;
}

.BannerText{
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  width: 50%;
  font-size: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 2px 2px rgb(126, 125, 125);
  word-spacing: 10px;
}

@media (max-width: 768px){
  .BannerImage{
    height: 20vh;
  }

  .BannerText{
    width: 80%;
    font-size: 1rem;
  }
}