.Input{
  flex-basis: calc(100%/2 - 1rem);
}

.InputElement{
  width: 100%;
  padding: 8px 6px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.Label{
  margin: 0.5rem 0;
  display: block;
  color: #aaa;
}

.TextArea{
  height: 20rem;
}

.Option{
  line-height: 2rem;    
}

.SelectWrapper{
  position: relative;
}

.Arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  pointer-events: none;
  color: #aaa;
}

.Invalid{
  border: 1px solid red;
  box-shadow: 0px 0px 3px rgb(216, 49, 49); 
}

.ErrorMessage{
  color: red;
  font-size: 0.75rem;
  font-weight: bold;
}
