.RepliesList{
  font-size: 0.8rem;
  height: 30vh;
  overflow-y: auto;
  padding-right: 1rem;
}

.Reply{
  width: 100%;
  padding: 0.4rem 0.2rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
  border-bottom: 3px solid #ccc;
}

.FormRow{
  display: flex;
  align-items: center;
}

.NoResultText{
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

.ImageButton{
  font-size: 2rem;
  color: #aaa;
}

.ImageButton:hover{
  color: rgb(126, 122, 122);
  cursor: pointer;
}

.ImageName{
  margin: 0 0.5rem;
  color: darkslategray;
}

.RemoveImage{
  border-radius: 50%;
  padding: 0 2px;
}

.RemoveImage:hover{
  color: black;
  background-color: #ccc;
  cursor: pointer;
}

.ErrorMessage{
  color: red;
  font-size: 0.75rem;
  font-weight: bold;
}
