.Comment{
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: flex-start;
}

.Image{
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.7rem;
}


.UserName{
  font-weight: bold;
  color: darkslategray;
  cursor: default;
}

.Content{
  color: rgb(68, 64, 64);
  font-size: 0.85rem;
  padding: 0.3rem;
}

.CommentImage{
  height: 30vh;
  width: 20vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.Details{
  display: flex;
  align-items: center;
  padding-top: 0;
}

.TimeStamp{
  font-size: 0.7rem;
}

.Actions{
  display: flex;
}

.Actions p{
  color: blue;
  margin: 0 10px;
}

.Actions p:hover{
  text-decoration: underline;
  color: rgb(255, 115, 0);
  cursor: pointer;
}

.Replies {
  background-color: #eee;
  border-radius: 5px;
  width: 45vw;
  padding: 0.5rem;
}